<html>

<head>
    <meta charset="UTF-8" />

    <style id="webmakerstyle">
        .invisible {
            visibility: hidden;
        }
        
        .very-big {
            font-size: 25rem !important;
        }
        
        .max-height {
            min-height: 100%;
        }
        
        .static-color {
            color: #db2828 !important;
        }
        
        .pending-color {
            color: #eb988d !important;
        }
    </style>
</head>

<body>
    <link rel="stylesheet" href="semantic.min.css" />
    <script src="soundjs-0.6.2.min.js"></script>
    <script src="vue.min.js"></script>
    <div id="app" class="ui middle aligned center aligned grid max-height">
        <div class="column">
            <h1 v-if="show_name" v-bind:class="{'pending-color':h_timer,'static-color':!h_timer }" class="ui center aligned header very-big">{{name}}</h1>
            <div>
                <button v-if="!h_timer" v-on:click="start" class="ui basic red huge button">Start</button>
                <button v-if="h_timer" v-on:click="stop" class="ui red huge button">Emergency Stop</button>
            </div>
            <div class="invisible ui divider"></div>
            <div class="ui checkbox">
                <input v-model="show_name" type="checkbox">
                <label>Show Name</label>
            </div>
        </div>
    </div>

    <script>
        "use strict";

        var names = ["Cherry", "Jackson", "Jason", "Jerry", "Jonathan", "Kore", "Leo", "Oliver", "Peter", "Phil", "Tony", "Vicky", "Willow", "Winnie"];

        function randomize(names) {
            this.name = names[Math.floor(Math.random() * names.length)];
        }

        var app = new Vue({
            el: "#app",
            data: {
                name: '???',
                h_timer: null,
                show_name: true
            },
            methods: {
                start: function start() {
                    var f = randomize.bind(this, names);
                    f();
                    this.h_timer = setInterval(f, 30);
                    this.h_sound = createjs.Sound.play('music');
                    this.h_sound.on('complete', this.stop.bind(this));
                },
                stop: function stop() {
                    clearInterval(this.h_timer);
                    this.h_timer = null;
                    this.h_sound.stop();
                }
            }
        });

        window.addEventListener('load', function() {
            createjs.Sound.registerSound("music.wav", 'music', console.log);
        });
        //# sourceURL=userscript.js
    </script>
</body>

</html>